body {
  background-image: linear-gradient(to top, #38333b, #38336b, #38339b, #38341b, #38344b, #38348b, #38352b, #38358b, #38362b, #38366b, #38377b, #38380b);
  margin: 0px;
  background-attachment: fixed;
}

.Contenedor {
  display: flex;
  flex-direction: row;
  flex-direction: column-reverse;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("../../img/3d-political-world-map-4k-blue-brickwall-map-of-world-countries-creative.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.titulo {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  background:rgb(0, 187, 255);  border-radius: 15px 15px 15px 15px;
  color:#173045;
  -webkit-border-radius: 30px 29px 29px 29px;
  -moz-border-radius: 30px 29px 29px 29px;
  box-shadow: 10px 3px 42px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 3px 42px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 3px 42px 6px rgba(0, 0, 0, 0.75);
  margin: 30px 150px 30px 150px;
}

._Vectores {
  /* border: solid red 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;

  &>* {
    width: 6rem;
  }
}

.Titulo_vector {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: 'Courier New', Courier, monospace;
  padding-right: 8rem;
  margin: 2rem;
  margin-bottom: 1rem;
  text-shadow: 4px 4px 2px rgba(215,241,46,0.88);
}